# WordPress core files
/wp-admin/
/wp-includes/

# Backup files
*.bak
*.tmp

# Cache files
/wp-content/cache/
/wp-content/uploads/

# Sensitive files
wp-config.php

# Node modules
/node_modules/

# Composer vendor
/vendor/
